
/*
.ui-icon-pokeballicon {
    background-image: url("images/Pokeball.png");
	background-size: cover;
    background-repeat: no-repeat;
}
 
Just could not get this working.
I tried adding ":after" as shown in the demo on the jQuery website but nothing would happen. 
Unfortunately I was running out of time and needed to finish other parts of the project. 
*/

#sidePanel{
	background-image: url("images/pikachu.jpg"); 
	background-size: contain;
	background-repeat: no-repeat;
    background-attachment: fixed;	
    color: white;  
}
/* Pikachu image taken from https://s8.favim.com/610/141130/adorable-cute-mobile-pikachu-Favim.com-2276019.jpg */

.in, .out {
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 1550ms !important;
}
/* Code reuse: https://stackoverflow.com/questions/10107274/how-do-i-speed-up-a-page-transition-animation. 
I wanted to slow down the transition for the pokemon page to appear so it's closer to the that of the panel. */
	


h1 { 
font-family: "Comic Sans MS", "Comic Sans", cursive!important; 
}

